.main {
    display: flex;
    flex-direction: column;
}

.tools {
    display: flex;
    flex-direction: row;
}

.longText {
    white-space: pre-wrap;
    font-weight: bold;
}

.imageFile {
    border: 1px solid gray;
}
